@model Domain.Entities.Game

@{
	ViewData["Title"] = "Delete Game";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Delete Game</h1>

<h3>Bạn có chắc chắn muốn xóa game này?</h3>
<div>
	<h4>Chi tiết Game</h4>
	<dl class="row">
		<dt class="col-sm-2">Tiêu đề</dt>
		<dd class="col-sm-10">@Model.Title</dd>

		<dt class="col-sm-2">Giá</dt>
		<dd class="col-sm-10">@Model.Price.ToString()</dd>

		<dt class="col-sm-2">Tác giả</dt>
		<dd class="col-sm-10">@Model.Author</dd>

		<dt class="col-sm-2">Ngày phát hành</dt>
		<dd class="col-sm-10">@Model.Release.ToString()</dd>

		<dt class="col-sm-2">Đánh giá</dt>
		<dd class="col-sm-10">@Model.Rating</dd>

		<dt class="col-sm-2">Mô tả</dt>
		<dd class="col-sm-10">@Model.Description</dd>

		<dt class="col-sm-2">Thể loại</dt>
		<dd class="col-sm-10">@Model.Genre?.Name</dd>

		<dt class="col-sm-2">Nhà phát hành</dt>
		<dd class="col-sm-10">@Model.Publisher?.Name</dd>
	</dl>
</div>

<form asp-action="DeleteConfirm" method="post">
	<input type="hidden" asp-for="GameId"/>
	<div class="form-group">
		<input type="submit" value="Xóa" class="btn btn-danger"/>
		<a asp-action="Index" class="btn btn-secondary">Hủy</a>
	</div>
</form>