@model IEnumerable<Domain.Entities.Cart>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<h1 class="mt-4">Cart List</h1>
<p>
    <a asp-action="CreatePage" asp-controller="Cart" class="btn btn-primary">Create New Cart</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Cart ID</th>
            <th>Account</th>
            <th>Payment Method</th>
            <th>Total Amount</th>
            <th>Created On</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CartId</td>
                <td>@item.Account.Username</td>
                <td>@item.PaymentMethod.Name</td>
                <td>@item.TotalAmount</td>
                <td>@item.CreatedOn</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CartId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CartId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
